<!-- <mat-card style=" padding-bottom: 1px;" class="mat-elevation-z8">
    <table class="table table-bordered">
      <tr class="center">
        <td>fullName</td>
        <td>{{data['details']['fullname']}}</td>
      </tr>
      <tr class="center">
        <td>email</td>
        <td>{{data['details']['email']}}</td>
      </tr>
      <tr class="center">
        <td>mobile</td>
        <td>{{data['details']['mobile']}}</td>
      </tr>
      <tr class="center">
        <td>reason</td>
        <td>{{data['details']['reason']}}</td>
      </tr>
      
      <tr class="center">
        <td>Date Of Joining</td>
        <td>{{data['details']['joiningdate']}}</td>
      </tr>
      
      
      
      
      
    </table>

  </mat-card> -->