<div class="container " style="margin-top: 10px;border-radius: 15px;">
        <mat-tab-group>
            <mat-tab label="Table"> <app-table></app-table> </mat-tab>

            <mat-tab label="Enquiry Form"> <app-enquiry-form></app-enquiry-form> </mat-tab>
            <!-- <mat-tab label="Material Form"> <app-material-form></app-material-form> </mat-tab> -->
        
            <!-- <mat-tab label="Application Form"> <app-application-form></app-application-form> </mat-tab> -->
            <!-- <mat-tab label="Test Form"> <app-test-form></app-test-form> </mat-tab> -->
            <!-- <mat-tab label="Register"> <app-register></app-register> </mat-tab> -->
            <mat-tab label="Dashboard"><app-pie-chart></app-pie-chart></mat-tab>
        
            
          </mat-tab-group>
          </div>